
p.topbar {border-style: solid;}

div {
    background-color: #F3EBE0;
}

div.menu {
    background-color: aqua;
}



h1 {
    color: navy;
    margin-left: 20px;
}
p.table {
    border: 1px;
}
tr.title {
    color:#2C7198;
    text-decoration:underline;
}
